<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="Config" status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %-30c{1.} [%level]%notEmpty{ kind=%mdc{resource.kind}}%notEmpty{ version=%mdc{resource.apiVersion}}%notEmpty{ ns=%mdc{resource.namespace}}%notEmpty{ name=%mdc{resource.name}} %msg%n%throwable"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger level="info" name="hello.world" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Root level="info">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
